<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="min-h-screen grid grid-cols-[250px_1fr]">
        <!-- Sidebar -->
        <aside class="bg-base-200 p-4">
            <h2 class="text-xl font-bold mb-4">Admin</h2>
            <ul class="menu">
                <li><a href="#">Bands</a></li>
                <li><a href="#">Festivals</a></li>
            </ul>
        </aside>

        <!-- Content -->
        <div class="flex flex-col">
            <!-- Header -->
            <header class="bg-base-100 p-4 shadow">
                <h1 class="text-2xl font-bold">ShowTime</h1>
            </header>

            <main class="p-6 flex-1">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
</body>
</html>
