{% extends './layouts/base.html.twig' %}

{% block title %}Edit Festival{% endblock %}

{% block body %}
    <div class="mt-[30px] flex flex-col items-center ">
        <div class="w-fit p-6 flex flex-col items-center border rounded-[10px] shadow">
            <h1 class="mb-[20px] font-bold">Edit Festival</h1>

            {{ include('festival/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('app_festival_show', {'id': festival.id}) }}" class="btn mb-[3px]">Cancel</a>

            {{ include('festival/_delete_form.html.twig') }}
        </div>

    </div>

{% endblock %}
