{% extends './layouts/base.html.twig' %}

{% block title %}New festival{% endblock %}

{% block body %}
    <div class="mt-[30px] flex flex-col items-center ">
        <div class="w-fit p-6 flex flex-col items-center border rounded-[10px] shadow">
            <h1 class="font-bold mb-[20px]">Create new Festival</h1>

            {{ include('festival/_form.html.twig') }}

            <a href="{{ path('app_festival_index') }}" class="btn mb-[3px]">Back to list</a>
        </div>
    </div>

{% endblock %}
